/* INDEX */
    /* HEADLINE - FIRST PART */
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        /* margin-top: 100px; */
        color: var(--main-blue);
    }
    
    .home-container {
        padding: 32px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* background-color: #cbd8f86c; */
        border-radius: 16px;
    }
    
    .home-headline {
        width: 540px;
        height:fit-content;
        position: relative;
        margin-right: 32px;
    }
    
    .home-logo > img {
        width: 450px;
        height: 450px;
        margin-top: 32px;
        /* filter: drop-shadow(2px 2px 5px #2f2f2f86); */
    }
    
    .home-subtitle {
        width: 540px;
        height: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 15px;
        color: var(--main-blue);
        
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
    }
    
    .home-title {
        width: 532px;
        height: 60px;
        font-style: normal;
        font-weight: /* 700 */ 775;
        font-size: /* 64px */ 80px;
    
        margin-bottom: 15px;
        position: relative;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    
    .home-description {
        width: /* 540px */ 520px;
        height: 100px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* text-transform: capitalize; */
        color: var(--main-blue);
        margin-bottom: 60px;
    }
    
    .headline-button {
        width: 220px;
        height: 44px;
        /* border-width: 1px; */
        border-radius: 5px;
        padding: 8px 15px 8px 15px;
        background: var(--main-blue);
        color: var(--main-white);
    }
    
    /* .headline-button:hover {
        border: var(--accent-blue);
        background: var(--accent-blue);
        color: var(--main-black);
    } */
    
    /* FEATURE - SECOND PART */
    .feature-container {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--main-blue);
    }
    
    
    .feature-1, .feature-2 {
        width: 920px;
        height: 300px;
        /* border: #2F2F2F solid; */
    }
    
    .feature-container img {
        width: 300px;
        height: 300px;
        background-color: var(--main-white);
    }
    
    .feature1-img {
        margin-right: 80px;
    }
    
    .feature2-img {
        justify-content: right;
        margin-left: 80px;
    }
    
    .feature-details {
        width: 540px;
        height: 180px;
    }
    
    .feature-details > h3 {
        width: 540px;
        position: relative;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        color: var(--main-white);
        text-transform: uppercase;
    }
    
    .detail1, .detail2 {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* text-transform: capitalize; */
        color: var(--main-white);
    }

/* ABOUT US */
.au {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  color: var(--main-blue);
}

  .au h1 {
      font-weight: 700;
      font-size: 50px;
      margin: 48px;
  }

  .plm {
      width: 1044px;
      height: auto;
      margin-bottom: 20px;
  }
      .plm img {
          width: 159px;
          height: 182px;
          margin-right: 32px;
      }
      .plm-details {
          width: 852px;
      }
          .plm-title {
              font-weight: 700;
              font-size: 32px;
              margin-bottom: 16px;

          }
          .plm-description {
              font-weight: 400;
              font-size: 20px;
              text-align: justify;
          }

  .penta {
      width: 1044px;
  }
      .penta img {
          width: 159px;
          height: 182px;
          margin-left: 32px;
          margin-top: 20px;
      }
      .penta-details {
          width: 852px;
      }
          .penta-title {
              font-weight: 700;
              font-size: 32px;
              margin-bottom: 16px;

          }
          .penta-description {
              font-weight: 400;
              font-size: 20px;
              text-align: justify;
          }

.theTeam {
  width: 100%;
  height: 657px;
  background-color: var(--main-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
}

.theTeam-container {
  width: 1171px;
  height: 501px;
  margin: 78px 135px;
}
  .theTeam-container h1 {
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 64px;
  }

.member-container {
  width: 1160px;
  height: 386px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 56px;
}
  .member {
      width: 190px;
      height: 386px;
      padding: 5px;
      border-radius: 10px;
      background-color: var(--main-white);
      color: var(--main-blue);
  }
  .member img {
      width: 150px;
      height: 150px;
      margin: 16px;
      border-radius: 5px;
  }
  .member-name {
      height: 53px;  
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 10px;
  }
  .member-pos {
      height: 14px;
      font-style:italic;
      font-size: 14px;
      margin-bottom: 20px;
  }
  .member-des {
      width: 180px;
      height: 78px;
      font-size: 15px;
  }

/* KINEBLITZ//HOW IT WORKS */
.kineblitz {
  position: relative;
  width: 100%;
  color: var(--main-blue);
  margin-top: 80px;
}
  .kineblitz h1{
      font-weight: 700;
      font-size: 50px;
      margin: 48px 48px 32px 48px;
  }

  .kine {
      width: 1038px;
  }
      .kineblitz img {
          width: 450px;
          height: 375px;
          margin-left: 32px;
          /* border == guide only */
          border: #2F2F2F solid;
      }
      .kineblitz-details{
          width: 852px;
      }
          .kineblitz-title{
              font-weight: 700;
              font-size: 32px;
              margin-bottom: 16px;
          }
          .kineblitz-description{
              font-weight: 400;
              font-size: 20px;
              text-align: justify;
          }

      .how-it-works{
          width: 100%;
          height: 657px;
          background-color: var(--main-blue);
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--main-white);
      }
      
      .how-it-works-container{
          width: 1171px;
          height: 501px;
          margin: 78px 135px;
      }
          .how-it-works-container h1 {
              font-weight: 700;
              font-size: 48px;
              margin-bottom: 64px;
          }
      
      .process-container{
          width: 1160px;
          height: 386px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 56px;
      }
          .process{
              width: 190px;
              height: 386px;
              padding: 5px;
              border-radius: 10px;
              background-color: var(--main-white);
              color: var(--main-blue);
          }
          .process img{
              width: 150px;
              height: 150px;
              margin: 16px;
              border-radius: 5px;
          }
          .process-name {
              height: 53px;  
              font-weight: 700;
              font-size: 24px;
              margin-bottom: 10px;
          }
          .process-des {
              width: 180px;
              height: 78px;
              font-size: 15px;
          }

/* LOGIN FORM */
/* .login-bg {
  position: fixed;
  top: 20px;
  left: 0;
  width: 1550px;
  height: 100%;
  background: url(Hallway_Background.jpg) no-repeat center center;
  background-size: cover;
  filter: blur(2px);
} */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 142px;
}

.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 432px;
  height: 550px;

  padding: 64px 46px;
  border-radius: 32px;
  background: var(--main-blue);
}

.login-title {
  position: relative;
  width: 120px;
  height: 26px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 10px;
  color: var(--main-white);
}

.user-pat {
  width: 65px;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--main-white);

}

.input-container {
  width: 340px;
  height: 64px;
  margin-bottom: 24px;
}

label {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  width: 106px;
  height: 12px;
  color: var(--main-white);
  margin-bottom: 12px;
}

input[type="email"], input[type="text"] {
  margin-bottom: 24px;
}

input[type="email"], input[type="password"], input[type="text"] {
  width: 340px;
  height: 40px;
  border-radius: 5px;
  background: var(--main-white);
  padding: 8px;
}

input[type="password"] {
  margin-bottom: 24px;
}

p {
  font-weight: 400;
  font-size: 13px;
  color: var(--main-white);
}

.login-buttons {
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 5PX;
  margin-top: 25px;
  padding: 8px 15px 8px 15px;
  background: var(--accent-blue);
  color: var(--main-black);
}

.login-buttons:hover {
background: #eab150;
color: var(--main-white);
}

/* LOGINAUTH */
.loginauth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 142px;
}


.loginauth-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 432px;
  height: 550px;

  padding: 64px 46px;
  border-radius: 32px;
  background: var(--main-black);
}

.loginauth-title {
  position: relative;
  width: 120px;
  height: 26px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 10px;
  color: var(--main-white);
}

.user-phy {
  width: 85px;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--main-white);

}

.input-container {
  width: 340px;
  height: 64px;
  margin-bottom: 24px;
}

.loginauth-label {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  width: 106px;
  height: 12px;
  color: var(--main-white);
  margin-bottom: 12px;
}

.loginauth-buttons {
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 5PX;
  margin-top: 25px;
  padding: 8px 15px 8px 15px;
  background: var(--accent-blue);
  color: var(--main-black);
}

.loginauth-buttons:hover {
background: #eab150;
color: var(--main-white);
}

/* RESET */
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px;
}
.reset-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 432px;
  height: 350px;

  padding: 64px 46px;
  border-radius: 32px;
  background: var(--main-red);
}

.reset-title {
  position: relative;
  width: 290px;
  height: 26px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 40px;
  color: var(--main-white);
}

.reset-button {
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 5PX;
  margin-top: 25px;
  padding: 8px 15px 8px 15px;
  background: var(--accent-blue);
  color: var(--main-black);
  /* font-size: 18px; */
}

.reset-button:hover {
  background: var(--accent-red);
  color: var(--main-black);
}

/* .reset div {
  margin-top: 7px;
  font-size: 13px;
  color: white;
} */

/* RESETAUTH */
.resetauth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px;
}
.resetauth-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 432px;
  height: 350px;

  padding: 64px 46px;
  border-radius: 32px;
  background: var(--main-red);
}

.resetauth-title {
  position: relative;
  width: 290px;
  height: 26px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 40px;
  color: var(--main-white);
}

.resetauth-button {
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 5PX;
  margin-top: 25px;
  padding: 8px 15px 8px 15px;
  background: var(--accent-blue);
  color: var(--main-black);
  /* font-size: 18px; */
}

.resetauth-button:hover {
  background: var(--accent-red);
  color: var(--main-black);
}

/* .reset div {
  margin-top: 7px;
  font-size: 13px;
  color: white;
} */

/* REGISTER */
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 142px;
}

.register-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 550px;

  padding: 64px 46px;
  border-radius: 32px;
  background: var(--main-blue);
}

.register-title {
  position: relative;
  width: 165px;
  height: 26px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 40px;
  color: var(--main-white);
}

.register-buttons {
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 5PX;
  margin-top: 25px;
  padding: 8px 15px 8px 15px;
  background: var(--accent-blue);
  color: var(--main-black);
}

.register-buttons:hover {
background: #eab150;
color: var(--main-white);
}

/* .register div {
  margin-top: 7px;
  font-size: 13px;
  color: white;
} */

/* REGISTERAUTH */
.registerauth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 142px;
}

.registerauth-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 432px;
  height: 550px;

  padding: 64px 46px;
  border-radius: 32px;
  background: var(--main-black);
}

.registerauth-title {
  position: relative;
  width: 165px;
  height: 26px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 40px;
  color: var(--main-white);
}

.registerauth-buttons {
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 5PX;
  margin-top: 25px;
  padding: 8px 15px 8px 15px;
  background: var(--accent-blue);
  color: var(--main-black);
}

.registerauth-buttons:hover {
background: #eab150;
color: var(--main-white);
}

/* .register div {
  margin-top: 7px;
  font-size: 13px;
  color: white;
} */

/* PASS */
.pass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px;
}

.pass-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 432px;
  height: 350px;

  padding: 64px 46px;
  border-radius: 32px;
  background: var(--main-black);
}

.pass-title {
  position: relative;
  width: 175px;
  height: 26px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 10px;
  color: var(--main-white);
}

.pass-auth {
  width: 185px;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--main-white);

}

.input-container {
  width: 340px;
  height: 64px;
  margin-bottom: 24px;
}

.pass-label {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  width: 106px;
  height: 12px;
  color: var(--main-white);
  margin-bottom: 12px;
}

.pass-buttons {
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 5PX;
  margin-top: 25px;
  padding: 8px 15px 8px 15px;
  background: var(--accent-blue);
  color: var(--main-black);
}

.pass-buttons:hover {
background: var(--main-purple);
color: var(--main-white);
}

/* DASHBOARD */
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-top: 150px;
}

.dashboard-welcome {
  position: relative;
  flex-direction: row;

  width: 1280px;
  height: 105px;
  margin-bottom: 72px;
  padding: 12px;
}
  .dashboard-header {
      font-weight: 600;
      font-size: 50px;
      margin-bottom: 16px;
      color: var(--main-blue);
  }
  .dashboard-user {
      text-decoration-line: underline;
  }
  .dashboard-instruction {
      font-style: italic;
      font-weight: 400;
      font-size: 20px;
      color: var(--main-blue);
  }

.dashboard-options {
  position: relative;
  height: 250px;
  width: 1280px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 64px;
}
  .dashboard-options button[type="submit"] {
      height: 250px;
      width: 250px;
      border-radius: 16px;
      border: none;
      background-color: var(--main-blue);
      color: var(--main-white);
      font-weight: 400;
      font-size: 35px;
  }
  .dashboard-options button[type="submit"]:hover {
      background-color: var(--accent-blue);
      color: var(--main-black);
  }

/* USER DASHBOARD */
.user-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-black);
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 140px;
}

.user-information {
  width: 1044px;
  height: 286px;
  padding: 32px;
  margin-bottom: 40px;
  background-color: var(--accent-blue);
  border-radius: 16px;
}
  .user-information img {
      width: 230px;
      height: 230px;
      margin-right: 35px;
      border: var(--main-black) .5px solid;
  }

.user-details {
  width: 749px;
  height: 166px;
}
  .user-name {
      position: relative;
      height: 60px;
      font-weight: 700;
      font-size: 40px;
      margin-bottom: 16px;
      color: var(--main-black);
  }
  .birth-date, .age, .id-num, .condition {
      padding-left: 20px;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: var(--main-black);
  }
  
.user-container h3 {
  width: 1044px;
  height: 60px;
  background-color: var(--accent-red);
  border-radius: 12px;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 32px;
}

.user-records {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 32px;
}
  .user-records button[type="submit"] {
      width: 320px;
      height: 50px;
      border-radius: 16px;
      font-size: 16px;
      border: none;
      background-color:var(--accent-blue);
  }
  .user-records button[type="submit"]:hover {
      background-color: var(--main-blue);
      color: var(--main-white);
  }

/* LOGIN DROPDOWN */
.dropdown-content button:hover {
  background-color: #d6d3d1;
  border-radius: 6px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drop-button {
  background-color: #eab150;
  border-color: var(--main-white);
}

/* LOGIN BUTTON DROPDOWN */
.droplog-content button:hover {
  background-color: #d6d3d1;
  border-radius: 6px;
  color: var(--main-black);
  font-weight: 400;
}

.droplog:hover .droplog-content {
  display: block;
}

.droplog:hover .droplog-button {
  background-color: var(--accent-blue);
  color: var(--main-black);
  font-weight: 500;
}
