@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;800&display=swap');

:root {
    --main-blue: /* #1d3578 */#051F6A;
    --main-red: #C32626;
    --main-black: #2F2F2F;
    --main-white: #F2F2F2;
    --bg: #EDEFF3;
    --accent-blue: #CBD8F8;
    --accent-red: #F5C4C4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

html {
    font-family: "Open-Sans", sans-serif;
    background-color: var(--main-white);
}

/* GENERAL STYLES */
.gen-button {
    box-shadow: 3px 3px 4px #2f2f2f86;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right{
    text-align: right;
}
